<div class="sidebar">

  <!-- LOGO -->
  <div class="sidebar-logo">
    <div class="sidebar-logo-text">Tawakkal</div>
    <div class="sidebar-logo-sub">
      {{ tenantName || 'ShowRoom ERP' }}
    </div>
  </div>

  <!-- <div class="sidebar-user">

    <div class="sidebar-avatar">
      {{ userName.charAt(0).toUpperCase() }}
    </div>

    <div>
      <div class="sidebar-username">
        {{ userName }}
      </div>

      <div class="sidebar-role">
        {{ userRole }}
      </div>
    </div>

  </div> -->

  <!-- MENU -->
  <div class="sidebar-menu">

    <ng-container *ngFor="let item of menuItems">

      <!-- Parent -->
      <div
        class="sidebar-item"
        [class.active]="isParentActive(item)"
        (click)="toggle(item)"
      >

        <i class="bi" [ngClass]="'bi-' + item.icon"></i>

        <span>{{ item.label }}</span>

        <i
          class="bi ms-auto"
          [ngClass]="item.expanded ? 'bi-chevron-down' : 'bi-chevron-right'">
        </i>

      </div>

      <!-- Children -->
      <div *ngIf="item.expanded">

        <a
          *ngFor="let child of item.children"
          class="sidebar-item child-item"
          [routerLink]="child.route"
          [class.active]="isActive(child.route || '')"
        >

          <i class="bi bi-dot"></i>

          <span>{{ child.label }}</span>

        </a>

      </div>

    </ng-container>

  </div>

</div>