<div class="navbar-wrapper d-flex align-items-center justify-content-between w-100">

  <!-- LEFT: Sidebar toggle -->
  <div class="col-1">
    <span
      class="trigger"
      nz-icon
      nzType="menu-fold"
      (click)="toggleSidebar()">
    </span>
  </div>

  <!-- CENTER: Search -->
  <div class="col-4">
    <div class="autocomplete-container d-flex align-items-center">
      <nz-input-group [nzSuffix]="suffixIcon">
        <input
          placeholder="Search Pages"
          nz-input
          [(ngModel)]="searchText"
          [nzAutocomplete]="auto"
          (ngModelChange)="onSearchChange()" />
        <nz-autocomplete #auto>
          <nz-auto-option
            *ngFor="let option of searchOptions"
            [nzValue]="option">
            {{ option }}
          </nz-auto-option>
        </nz-autocomplete>
      </nz-input-group>
      <ng-template #suffixIcon>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </div>
  </div>

  <!-- RIGHT: User info + dropdown -->
  <div class="d-flex align-items-center">

    <!-- Fullscreen toggle -->
    <button nz-button nzType="text" (click)="toggleFullscreen()" class="me-2">
      <span nz-icon [nzType]="isFullscreen ? 'fullscreen-exit' : 'fullscreen'"></span>
    </button>

    <!-- Notifications -->
    <button nz-button nzType="text" class="me-3" (click)="openNotifications()">
      <nz-badge [nzCount]="notificationCount" [nzOverflowCount]="99">
        <span nz-icon nzType="bell"></span>
      </nz-badge>
    </button>

    <!-- User avatar + name + dropdown -->
    <button nz-button nzType="link" class="d-flex align-items-center p-2">

      <nz-avatar
        nzShape="square"
        [nzSize]="40"
        [nzSrc]="getProfilePictureUrl()"
        *ngIf="userProfilePicture; else initials">
      </nz-avatar>

      <ng-template #initials>
        <nz-avatar [nzText]="userInitials" [nzSize]="40"></nz-avatar>
      </ng-template>

      <div class="d-flex flex-column ms-2 text-start" (click)="navigateToProfile()">
        <span class="fw-bold" *ngIf="!isLoading; else loadingName">{{ userFullName }}</span>
        <ng-template #loadingName>
          <nz-skeleton-element nzType="input" [nzActive]="true" style="width: 80px"></nz-skeleton-element>
        </ng-template>
        <span class="text-muted small">{{ userEmail }}</span>
      </div>

      <!-- Dropdown arrow -->
      <span
        nz-dropdown
        [nzDropdownMenu]="userMenu"
        nzTrigger="click"
        class="ms-2"
        (click)="$event.stopPropagation()">
        <i nz-icon nzType="down"></i>
      </span>
    </button>

    <!-- Dropdown menu -->
    <nz-dropdown-menu #userMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="navigateToProfile()">
          <i nz-icon nzType="user" class="me-2"></i> Profile
        </li>
        <li nz-menu-item (click)="navigateToSettings()">
          <i nz-icon nzType="setting" class="me-2"></i> Settings
        </li>
        <li nz-menu-divider></li>
        <li nz-menu-item nzDanger (click)="logout()">
          <i nz-icon nzType="logout" class="me-2"></i> Logout
        </li>
      </ul>
    </nz-dropdown-menu>

  </div>
</div>