<header class="app-header">
  <div class="header-top flex-row justify-between align-center">
    <div class="header-left flex-row align-center gap-3">
      <button nz-button nzType="text" class="nav-toggle" (click)="toggleSidebar()">
        <i nz-icon nzType="menu"></i>
        <span>MAIN MENU</span>
      </button>
      <div class="company-name">TAWAKKAL SHOWROOM</div>
    </div>

    <div class="header-right flex-row align-center gap-3">
      <span class="connection-status">Connected as <strong>{{ userFullName || 'Sultan' }}</strong></span>
      <button nz-button nzType="default" nzShape="round" (click)="logout()">Sign Out</button>
    </div>
  </div>

  <div class="header-bottom flex-row justify-between align-center">
    <div class="header-actions flex-row align-center gap-2">
      <button nz-button nzType="default" nzShape="round" routerLink="/product-master">
        <i nz-icon nzType="shopping-cart"></i>
        <span>Product Master</span>
      </button>
      <button nz-button nzType="default" nzShape="round" routerLink="/sales-invoice">
        <i nz-icon nzType="file-text"></i>
        <span>Sales Invoice</span>
      </button>
      <button nz-button nzType="default" nzShape="round">
        <i nz-icon nzType="check-circle"></i>
        <span>Tawakkal Stamp</span>
      </button>
    </div>

    <div class="header-actions flex-row align-center gap-2">
      <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTitle="Notifications" (click)="openNotifications()">
        <i nz-icon nzType="bell"></i>
      </button>
      <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTitle="Fullscreen" (click)="toggleFullscreen()">
        <i nz-icon [nzType]="isFullscreen ? 'fullscreen-exit' : 'fullscreen'"></i>
      </button>

      <nz-dropdown nzTrigger="click">
        <button nz-button nzType="default" nzShape="round" class="user-dropdown-btn">
          <span class="user-avatar">
            <ng-container *ngIf="userProfilePicture && !isLoading; else showInitials">
              <img [src]="getProfilePictureUrl()" alt="Profile">
            </ng-container>
            <ng-template #showInitials>
              <span>{{ userInitials }}</span>
            </ng-template>
          </span>
          <span class="user-info">
            <span class="user-name">{{ userFullName }}</span>
            <span class="user-role">{{ userRole }}</span>
          </span>
          <i nz-icon nzType="down"></i>
        </button>
        <ul nz-menu nzSelectable="false" class="user-menu">
          <li nz-menu-item (click)="navigateToProfile()">
            <i nz-icon nzType="user"></i>
            My Profile
          </li>
          <li nz-menu-item (click)="navigateToProfile()">
            <i nz-icon nzType="key"></i>
            Change Password
          </li>
          <li nz-menu-item (click)="navigateToSettings()">
            <i nz-icon nzType="setting"></i>
            Settings
          </li>
          <li nz-menu-divider></li>
          <li nz-menu-item (click)="logout()">
            <i nz-icon nzType="logout"></i>
            Logout
          </li>
        </ul>
      </nz-dropdown>
    </div>
  </div>
</header>
