<nz-layout class="main-shell">
  <nz-header class="shell-header">
    <div class="navbar-wrapper">
      <div class="navbar-left">
        <span class="trigger" nz-icon nzType="menu-fold" (click)="toggleSidebar()"></span>
      </div>

      <div class="search-wrapper">
        <nz-input-group [nzSuffix]="suffixIcon" class="search-box">
          <input
            placeholder="Search modules and pages"
            nz-input
            [(ngModel)]="searchText"
            [nzAutocomplete]="auto"
            (ngModelChange)="onSearchChange()" />
          <nz-autocomplete #auto>
            <nz-auto-option *ngFor="let option of searchOptions" [nzValue]="option.label" (click)="selectSearchOption(option)">
              {{ option.label }}
            </nz-auto-option>
          </nz-autocomplete>
        </nz-input-group>
        <ng-template #suffixIcon>
          <span nz-icon nzType="search"></span>
        </ng-template>
      </div>

      <div class="navbar-right">
        <button nz-button nzType="text" (click)="toggleFullscreen()" class="icon-button">
          <span nz-icon [nzType]="isFullscreen ? 'fullscreen-exit' : 'fullscreen'"></span>
        </button>

        <button nz-button nzType="text" class="me-3" (click)="openNotifications()">
          <nz-badge [nzCount]="notificationCount" [nzOverflowCount]="99">
            <span nz-icon nzType="bell"></span>
          </nz-badge>
        </button>

        <button nz-button nzType="link" class="d-flex align-items-center p-2">
          <nz-avatar nzShape="square" [nzSize]="40" [nzSrc]="getProfilePictureUrl()" *ngIf="userProfilePicture; else initials"></nz-avatar>
          <ng-template #initials>
            <nz-avatar [nzText]="userInitials" [nzSize]="40"></nz-avatar>
          </ng-template>

          <div class="d-flex flex-column ms-2 text-start" (click)="navigateToProfile()">
            <span class="fw-bold" *ngIf="!isLoading; else loadingName">{{ userFullName }}</span>
            <ng-template #loadingName>
              <nz-skeleton-element nzType="input" [nzActive]="true" style="width: 80px"></nz-skeleton-element>
            </ng-template>
            <span class="text-muted small">{{ userEmail }}</span>
          </div>

          <span nz-dropdown [nzDropdownMenu]="userMenu" nzTrigger="click" class="ms-2" (click)="$event.stopPropagation()">
            <i nz-icon nzType="down"></i>
          </span>
        </button>

        <nz-dropdown-menu #userMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="navigateToProfile()">
              <i nz-icon nzType="user" class="me-2"></i> Profile
            </li>
            <li nz-menu-item (click)="navigateToSettings()">
              <i nz-icon nzType="setting" class="me-2"></i> Settings
            </li>
            <li nz-menu-divider></li>
            <li nz-menu-item nzDanger (click)="logout()">
              <i nz-icon nzType="logout" class="me-2"></i> Logout
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
  </nz-header>

  <nz-layout class="main-body">
    <nz-sider
      class="sidebar"
      nzTheme="light"
      nzCollapsible
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null"
      style="max-width: 280px; width: 280px">

      <div class="logo-container shadow-lg" *ngIf="!isLoading">
        <img src="assets/twakal.png" alt="Logo" style="display: block; margin: 0 auto" />
      </div>

      <ul nz-menu nzMode="inline" class="sider-menu">
        <div *ngIf="isLoading" class="loading-container">
          <div class="container">
            <nz-spin nzSimple></nz-spin>
          </div>
        </div>
        <nz-skeleton *ngIf="isLoading" [nzActive]="true" [nzParagraph]="{ rows: 12 }" class="p-2"></nz-skeleton>

        <ng-container *ngIf="!isLoading">
          <ng-container *ngFor="let item of menuItems">
            <li nz-submenu *ngIf="item.children && item.children.length" [nzTitle]="item.label" [nzIcon]="item.icon" [nzOpen]="item.expanded" (nzOpenChange)="item.expanded = $event">
              <ul>
                <li nz-menu-item *ngFor="let child of item.children" [routerLink]="child.route" [ngClass]="{ active: isActive(child.route || '') }" nz-tooltip [nzTooltipTitle]="child.label" nzTooltipPlacement="right">
                  <i nz-icon [nzType]="child.icon"></i>
                  <span>{{ child.label }}</span>
                </li>
              </ul>
            </li>

            <li nz-menu-item *ngIf="!item.children || !item.children.length" [routerLink]="item.route" [ngClass]="{ active: isActive(item.route || '') }" nz-tooltip [nzTooltipTitle]="item.label" nzTooltipPlacement="right">
              <i nz-icon [nzType]="item.icon"></i>
              <span>{{ item.label }}</span>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </nz-sider>

    <nz-layout class="right-panel">
      <nz-content>
        <div class="page-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
